.swiper-wrapper {
    margin-left: 80px;
    display: flex;
    align-items: center;

    @include breakpoint-down(medium) {
        margin-left: 40px;

    }

    @include breakpoint-down(small) {
        margin-left: 25px;

    }

    img {
        padding-top: 83px;
        padding-bottom: 83px;
        
        

        @include breakpoint-down(medium) {
            padding-top: 32px;
            padding-bottom: 32px;
            width:100%;
        }

        @include breakpoint-down(small) {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }


}