//Colors
$mainColor: #19B7BB;
$mainGradient: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
$lightGreyOne: #BCBCC7;
$lightGreyTwo: #EAEAF3;
$orangeGradient: linear-gradient(180deg, #F7D479 0%, #EBBD46 100%);
$black:#252729;
$btnColor: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
$btnScroll:linear-gradient(180deg, #F7D479 0%, #EBBD46 100%);

//Font Sizes 
$font-xl: 64px;
$font-l: 48px;
$font-med: 36px;
$font-sm: 32px;
$font-xs: 24px;
$font-xss: 18px;




